name: MLflow Auto-Training Demo

# 触发条件：当推送到 main 分支时
on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # 允许你在 GitHub 网页上手动点击按钮触发

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
    # 1. 拉取代码
    - uses: actions/checkout@v3

    # 2. 设置 Python 环境
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    # 3. 安装依赖
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow scikit-learn pandas

    # 4. 运行自动化脚本
    # 注意：这里我们演示的是逻辑。
    # 因为没有配置远程服务器，MLflow 会在当前容器内创建临时的 mlruns 和 sqlite 数据库
    - name: Run ML Pipeline (Train -> Evaluate -> Register)
      run: python pipeline_demo\ml_pipeline_demo.py